*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: a;
    src: url('Cookie-Regular.woff2');
}

#main{
    position: relative;
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1698681889353-d39a24b78bac?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    font-size: 100px;
    font-family: a;
    font-weight: 800;
    text-decoration: underline;
    color: #bdbdbd;
}