html,
body {
    height: 100%;
    width: 100%;
}

/*For everything*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: m;
}
@font-face {
    font-family: m;
    src: url('Montserrat-Medium.woff2');
}

/*For everything inside body*/
body {
    background-color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*Background of landing page*/
.dv {
    background-color: #161616;
}

/*Header*/
header {
    position: relative;
    padding: 5px 2rem;
    background-color: #161616;
    z-index: 100;
    box-shadow: 0px 5px 5px #111111;
}

@font-face {
    font-family: 'a';
    src: url('/fonts/Kajiro\ Bold.ttf');
}

/*Links*/
li {
    list-style: none;
}

/*Hyperlinks*/
a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

a:hover {
    color: orange;
}

/*Navigation*/
.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #161616;
}

/*Logo*/
.navbar .logo a {
    font-size: 3rem;
    font-weight: 700;
    color: red;
    font-family: Arial, sans-serif;
}

/*Links in nav*/
.navbar .links {
    display: flex;
    gap: 2rem;
}

/*Burger menu*/
.navbar .toggle_btn {
    color: #edf0f1;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*Contact button*/
.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.8rem 1rem;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.05rem;
    font-weight: bold;
    cursor: pointer;
    transform: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/*Dropdown Menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background-color: rgb(225, 225, 225, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 260px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Responsive Navigation*/
@media (max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/*MoMo Image In landing page */
.img1 {
    margin-top: 4.5rem;
    margin-left: 51.5%;
    scale: 1.2;
}

/*Slogan In Landing page*/
.slogan {
    margin-left: 8%;
    color: orange;
    line-height: normal;
    font-family: "kajiro";
    font-weight: 100;
    font-size: 11vw;
    margin-top: -46%;
}

/*Menu button*/
.menu_btn {
    margin-left: 8%;
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    font-weight: 500;
    margin-top: 15px;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    transition: all .5s ease 0;
}

.menu_btn:hover {
    background: #000;
    border: 2px solid orange;
    color: red;
}

h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
}

/*About Us*/
.dv1 {
    margin-top: 0.5rem;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*background of about us*/
.dv1-text {
    background-color: #fff;
    opacity: 90%;
    padding: 3rem 3.5rem;
    margin-left: 48%;
    font-family: Arial, sans-serif;
    margin-right: 2%;
}

/*Header of about us*/
.wrw {
    font-size: 2rem;
    font-weight: 1000;
}

/*about us texts*/
p {
    font-size: 1.2rem;
    font-weight: 600;
}

/*Read more button*/
#more {
    display: none;
}

#myBtn {
    color: #fff;
    background-color: #022240;
    border: none;
    padding: 10px;
    border-radius: 30px;
    font-size: 1rem;
}

/*Menu*/
.dv2 {
    margin-top: 0.5rem;
    background-image: linear-gradient(black, black), url(menubg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: saturation;
}

/*Menu Header*/
.menu-header {
    text-align: center;
    color: orange;
    font-family: Arial, sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

/*Menu Cards*/
.menu-cards {
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 43px;
    margin-top: 80px;
}

/*Food Items*/
.food-items {
    border: none;
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 35px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background-color: orange;
    border: 4px solid orange;
}

.food-items:hover {
    color: red;
    border: 4px solid red;
}

/*Visit us*/
.dv3 {
    margin-top: 0.5rem;
    background-color: #161616;
}

/*Header of visit us*/
.visitus-header {
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

/*All h2 Tags*/
h2 {
    color: #fff;
    margin-left: 25%;
    font-size: 2rem;
}

/*All h3 Tags*/
.dv2 h3 {
    color: #fff;
    text-decoration: underline;
}

/*address*/
.adres {
    color: #fff;
    margin-left: 25%;
    font-size: 1.5rem;
    text-decoration: none;
}

.adresloc {
    margin-left: 35.5%;
    margin-top: -1.9%;
    font-weight: 500;
}

/*Email*/
.emil {
    color: #fff;
    margin-left: 25%;
    font-size: 1.5rem;
    text-decoration: none;
}

.emila {
    margin-left: 33%;
    margin-top: -1.9%;
    font-weight: 500;
}

/*Instagram*/
.insta {
    color: #fff;
    margin-left: 25%;
    font-size: 1.5rem;
    text-decoration: none;
}

.instaa {
    margin-left: 37%;
    margin-top: -1.9%;
    font-weight: 500;
}

/*Phone*/
.call {
    color: #fff;
    margin-left: 25%;
    font-size: 1.5rem;
    text-decoration: none;
}

.calla {
    margin-left: 33.7%;
    margin-top: -1.9%;
    font-weight: 500;
}

/*Last*/
.dv4 {
    background: linear-gradient(#013d76, #022240);
}

/*Wave Animation*/
.ocean {
    height: 80px;
    /* change the height of the waves here */
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 25s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
}

.wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 36s linear reverse infinite;
    opacity: 0.5;
}

.wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 40s -1s linear infinite;
    opacity: 0.5;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.cus {
    color: #bdbdbd;
    font-size: 2rem;
    margin-left: 9%;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}

/*Follow us text*/
.folowuson {
    color: #bdbdbd;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    margin-left: 8%;
}

.golberkoachar {
    transform: scale(3);
}

.musya {
    transform: scale(1.5);
}

.choila {
    transform: scale(1.5);
}

.social {
    margin-left: 40%;
}

/*Logos*/
/*Facebook logo*/
.fb {
    transform: scale(1);
}

/*Youtube logo*/
.yt,
/*Instagram logo*/
.instalgo,
/*Tiktok logo*/
.tktk,
/*Twitter/X logo*/
.x,
/*Threads logo*/
.thread {
    margin-left: 2%;
}

.nthtext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    max-width: 1600px;
}

.nthtext h3 {
    color: #bdbdbd;
    font-weight: 100;
    font-size: 1.2rem;
}

.nthtext h3:hover {
    color: orange;
    transition: all .5s ease-in-out;
}

.nthtext img {
    margin-top: -60px;
}


.iframe-container {
    border-style: double;
    border-width: 15px;
    border-color: #fff;
    max-width: 650px;
    margin: 0 auto;
    padding: 10px;
}