* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #0e0e0e;
  color: #fff;
  font-family: p;
}

@font-face {
  font-family: c;
  src: url('/fonts/Cookie-Regular.woff2');
}
@font-face {
  font-family: m;
  src: url('/fonts/Montserrat-Medium.woff2');
}
@font-face {
  font-family: p;
  src: url('/fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: k;
  src: url('/fonts/Kajiro\ Bold.woff2');
  font-weight: 100;
}

nav{
  font-family: c;
}